.red-color {
	color: rgb(197,9,43);
}

.red-bg {
	background-color: rgb(197,9,43);
}

:root {
	--main-bg-color: rgb(197,9,43);
	--main-text-color: rgb(197,9,43);
  }
  


.bg-gray {
	background-color: #f5f4f4;
}

.text-gray {
	color: #d8d8d8;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 150px solid transparent;
	border-left: 150px solid rgb(197,9,43);
	border-bottom: 0px solid transparent;
}


/* media query breakpoints */

@media (max-width: 575.98px) {
    .navbar-brand{
        width: 30%;
    }

	.destination .bg-outer {
		background: var(--main-bg-color);
	}
}




.bg-outer {
	background: linear-gradient(to right, rgb(197,9,43) 50%, #ffffff 50%);
  }

  .bg-gradient-vacation {
	background: linear-gradient( rgb(255, 247, 248), #dbdada  );
  }

.guided {
	background: url(img/map.png) fixed ;
}

.bg-outer-guide {
	background: linear-gradient(to right, rgba(252, 4, 49, 0.568) 50%, #ffffff00 50%);

}

#destination .bike-stand img{
	height: 480px;
	width: auto;
}

.bg-outer-guide  img {
	position: relative;
}

.bg-outer-guide  img {
	bottom: -8rem;
}
 
.bg-image  {
	/* background: url(img/background-f.png) ; */
	background-image: url(img/background-f.png);
    height: auto;
	background-size: cover;
}

.start-jurney img {
	width: 80px;
}

.start-jurney > * {
	position: relative;
}

.map-icon {
	bottom: -2rem;
	
}

/* for sticky button */

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background-color: rgb(197,9,43);
	border: none;
  }

.btn-shadow:hover {
	 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}